/**
 * @author
 *   Gerardo Jaramillo (https://gerardojaramillo.dev)
 *
 * styles.css
 */

* {
outline: none;
}

body {
margin: 0;
padding: 0;
background-color: #fff;
}

#map {
background-color: transparent;
border-radius: 8px;
width: 400px;
height: 560px;
position: relative;
margin: 128px auto;
}